nav {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

nav ul {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.navLink {
    text-decoration: none;
}